#adminmenu li {
	position: relative;
}
#adminmenu li .after {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	display: block;
	text-align: center;
	width: 34px;
	height: 34px;
	color: #444;
	opacity: 1;
	padding: 0;
}
#adminmenu li .after.hide {
	color: #fff;
}
#adminmenu li .after:hover {
	color: #fff;
	opacity: 0.8;
}
#adminmenu>li>.after {
	line-height: 34px;
}
#adminmenu li a.after.dashicons {
	right: 25px;
	line-height: 36px;
}

input[type="number"] {
	width: 80px;
}